# --- 虚幻引擎核心忽略项 ---
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
RemoteControl/x64
RemoteControl/Packs
RemoteControl/*.csv
RemoteControl/Movies
RemoteControl/Movie
./x64
./x64/Debug
./x64/Release
*.xcworkspace
*.v12.suo
*.v11.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.txt

# --- C++ 编译产生的巨型文件 (针对你的 190GB 报错) ---
*.pdb
*.pch
*.ipch
*.obj
*.exe
*.dll

# --- 平台相关项目文件 ---
/Platforms/

# --- 外部插件与构建产物 ---
Plugins/*/Binaries/
Plugins/*/Intermediate/

# --- 杂项 ---
*.log
*.tps
*.bak
Game
x64
